version: '3'
services:
  0l:
    build: .
    command: yarn nodemon server.js
    environment:
      - PORT=3027
      - NEXT_TELEMETRY_DISABLED=1
      - NODE_ENV=development
      - NODE_HOSTNAME=35.231.138.89
      #- NODE_HOSTNAME=138.197.59.9
    ports:
      - "3027:3027"
    volumes:
      - ./components:/code/components
      - ./lib:/code/lib
      - ./styles:/code/styles
      - ./pages:/code/pages
      - ./public:/code/public
      - ./index.js:/code/index.js
      - ./next-env.d.ts:/code/next-env.d.ts
      - ./tsconfig.json:/code/tsconfig.json
      - ./package.json:/code/package.json
