.navBarContainer {
  width: 100%;
  background-color: rgb(0, 78, 65);
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1000;
}

.homeLink {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.icon {
  width: 35px;
  margin-right: 8px;
}

.title {
  color: white;
  font-size: 20pt;
  margin-bottom: 0px;
}

.search {
  max-width: 500px;
  margin-left: auto;
}

.spinContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff19;
  z-index: 10;
}

.full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 16px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.footerText {
  color: white;
}