.tableContainer {
  display: flex;
  justify-content: center;
}

.inner {
  padding: 16px;
  flex: 0 1 400px;
}

@media only screen and (max-width: 1046px) {
  .tableContainer {
    display: block;
  }
}

.topStats {
  justify-content: center;
  display: flex;
}

.topStatsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #e8e9e9;
  color: black;
  padding: 16px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proposal {
  margin: 0px 8px;
}