.address {
  color: white;
  cursor: pointer;
  font-weight: 400;
}

.addressText {
  font-weight: 100;
  overflow-wrap: break-word;
}

.onboardedBy {
  font-size: 14pt;
  color: white;
  font-weight: 400;
  overflow-wrap: break-word;
}

.balance {
  font-size: 16pt;
  color: white;
  cursor: pointer;
  .balanceText {
    font-weight: 100;
  }
}

.infoRow {
  display: flex;
}

.infoText {
  margin-right: 8px;
  font-size: 14pt;
  display: block;
}

.thinText {
  font-weight: 200;
}

.outerHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  color: white;
  font-size: 20pt;
  margin-right: 16px;
}

.topContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proofHistoryTable {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #003f34;
  padding: 16px;
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 8px;
}

.topStats {
  display: flex;
  overflow-x: auto;
}

.topStatsInner {
  display: flex;
 flex-direction: column;
 background-color: #003f34;
 padding: 16px;
 border-radius: 4px;
 margin-top: 8px;
}

.proofHistoryLabel {
  margin-bottom: 0px;
  font-size: 16pt;
  color: white;
}

.proofHistoryTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
}

.statsTablesContainer {
  display: flex;
  flex-wrap: wrap;
}

.downloadProofsButton {
  margin-left: 16px;
}

@media only screen and (max-width: 991px) {
  .topStatsInner {
   width: 100%;
  }
}
