.address {
  color: white;
  cursor: pointer;
  font-weight: 400;

  .addressText {
    font-weight: 100;
  }
}

.balance {
  font-size: 16pt;
  color: white;
  cursor: pointer;
  .balanceText {
    font-weight: 100;
  }
}