.address {
  color: white;
  cursor: pointer;
  font-weight: 400;

  .addressText {
    font-weight: 100;
  }
}

.balance {
  font-size: 16pt;
  color: white;
  cursor: pointer;
  .balanceText {
    font-weight: 100;
  }
}

.infoRow {
  display: flex;
}

.infoText {
  margin-right: 8px;
  font-size: 14pt;
  display: block;
}

.thinText {
  font-weight: 200;
}

.outerHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  color: white;
  font-size: 20pt;
  margin-right: 16px;
}