.header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.title {
  color: #ff5959;
  font-size: 14pt;
  font-weight: 600;
  margin-right: 16px;
  margin-bottom: 0px;
}

.pager {
  display: flex;
  align-items: center;
  align-content: center;
}

.pagerButton {
 // margin: 0 4px;
  color: #666768;
  font-size: 18pt;
  margin-bottom: 0px;
}

.latestLink {
  padding: 5px;
}

.versionSearch {
  max-width: 200px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 35px;
  margin-bottom: 8px;
}

.progressBar {
  color: white;
}

.infoRow {
  display: flex;
}

.infoText {
  margin-right: 8px;
  font-size: 14pt;
  display: block;
}

.thinText {
  font-weight: 200;
}

.topStats {
  justify-content: center;
  display: flex;
  margin-bottom: 16px;
}

.topStatsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 2px solid #e8e9e9;
  border-radius: 16px!important;
  color: black;
  font-weight: 600;
  padding: 16px;
}
