.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  color: white;
  font-size: 20pt;
  margin-right: 16px;
}

.pagerButton {
  margin: 8px;
}

.versionSearch {
  max-width: 200px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.progressBar {
  color: white;
}

.infoRow {
  display: flex;
}

.infoText {
  margin-right: 8px;
  font-size: 14pt;
  display: block;
}

.thinText {
  font-weight: 200;
}

.topStats {
  justify-content: center;
  display: flex;
}

.topStatsInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #003f34;
  padding: 16px;
  border-radius: 4px;
}
