.header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  color: white;
  font-size: 20pt;
  margin-right: 16px;
}

.pagerButton {
  margin: 8px;
}

.versionSearch {
  max-width: 200px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outerHeader {
  display: flex;
  justify-content: space-between;
  align-content: center;
}