body {
  /*background: rgb(23, 15, 52);*/
  background: rgb(0, 36, 28);
  color: white;
}

.ant-table {
  /*background-color: rgb(35, 29, 75);*/
  background-color: rgb(0, 48, 40);
  color: white;
  font-weight: 200;
}

.ant-table-tbody > tr.ant-table-row-level-0:hover > td {
  background: unset;
}

.ant-table-tbody > tr > td {
  border-bottom-color: rgba(255, 255, 255, 0.12);
}

.ant-table-thead > tr > th {
  border-bottom-color: rgba(255, 255, 255, 0.12);
}

.ant-table-thead .ant-table-cell{
  /*background-color: rgb(45, 39, 85);*/
  background-color: rgb(0, 63, 52) !important;
  color: #ccc;
}

.ant-pagination-item {
  background-color: rgb(0, 63, 52) !important;
  border-color: rgb(0, 63, 52) !important;

}

.ant-pagination-item:hover {
  background-color: transparent;
  border-color: #ffffff99;
}

.ant-pagination-item:focus {
  background-color: transparent;
  border-color: #ffffff99;
}

.ant-select-selector {
  background-color: rgb(0, 63, 52) !important;
  border-color: rgb(0, 63, 52) !important;
  color: white;
}

.ant-pagination-item-active {
  background-color: transparent!important;
  border-color: #ffffff99!important;
}

.ant-pagination-item a {
  color: #aaaaaa;
}

.ant-pagination-item a:hover {
  color: white;
}

.ant-pagination-item-link {
  background-color: rgb(0, 63, 52) !important;
  border-color: rgb(0, 63, 52) !important;
}

.ant-pagination-item-link .anticon {
  color: white;
}

.ant-pagination-item-active a {
  color: white;
}

.ant-table-column-sort {
  background: unset!important;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background: unset!important;
}

.ant-checkbox-inner {
  background-color: unset!important;
}

.ant-btn-primary {
  background-color: #00806a;
  border-color:  #004e41;
}

.ant-btn-primary:hover {
  background-color: #004e41;
  border-color:  #004e41;
}

.ant-btn-primary:focus {
  background-color: #007c67;
  border-color:  #007c67;
}

a {
  color: #62f0d1;
}

a:hover {
  color: #acffea;
}

.ant-progress-text {
  color: white;
}

.ant-tabs {
  color: white;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2ab99a;
}

.ant-tabs-tab:hover {
  color: #00806a;
}

.ant-tabs-tab .ant-tabs-tab-btn:focus {
  color: #2ab99a;
}

.ant-tabs-ink-bar {
  background: #2ab99a;
}