@font-face {
  font-family: Circular;
  font-weight: 200;
  src: url("/fonts/Circular/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/Circular/CircularStd-BookItalic.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 400;
  src: url("/fonts/Circular/CircularStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 400;
  font-style: italic;
  src: url("/Circular/CircularStd-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 600;
  src: url("/fonts/Circular/CircularStd-Bold.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 600;
  font-style: italic;
  src: url("/fonts/Circular/CircularStd-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 800;
  src: url("/fonts/Circular/CircularStd-Black.otf") format("opentype");
}

@font-face {
  font-family: Circular;
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/Circular/CircularStd-BlackItalic.otf") format("opentype");
}

body {
  background: white;
  font-family: Circular !important;
  //color: white;
}

.ant-table {
  // background-color: #d6b89b;
  // color: #312726;
  // font-weight: 200;
  border: 2px solid #e8e9e9;
  border-radius: 10px!important;
}

// .ant-table-tbody > tr.ant-table-row-level-0:hover > td {
//   background: unset;
// }

.ant-table-tbody > tr { td {
  //border-bottom-color: rgba(46, 23, 0, 0.15);
  //background-color: #d6b89b!important;
  // :hover {
  //   background-color: #d6b89b!important;
  // }
  // :focus{
  //   background-color: #d6b89b!important;
  // }
  border-bottom: 2px solid #e8e9e9;
  }

}

.ant-table-tbody>tr:last-child>td {
    border-bottom: 0px!important;
}

.ant-table-tbody {
  tr:last-child {
    td:first-child {
      border-bottom-left-radius: 10px!important;
    }
    td:last-child {
      border-bottom-right-radius: 10px!important;
    }
  }
  color: #9a9899;
  font-weight: 200;
}

// .ant-table-thead > tr > th {
//   border-bottom-color: rgba(255, 255, 255, 0.12);
// }

.ant-table-thead {
  tr {
    th {
      border-bottom: 2px solid #e8e9e9;
    }
    th:first-child {
      border-top-left-radius: 10px!important;
    }
    th:last-child {
      border-top-right-radius: 10px!important;
    }
  }
  .ant-table-cell{ 
  //background-color: #00b162 !important;
  //color: white;
  //border: 0px white;
  color: #ff5959;
  font-weight: 600;
  font-size: 11pt;
  background-color: white!important;
  }

}

// .ant-pagination-item {
//   background-color: #00b162 !important;
//   border-color: #00b162 !important;

// }

// .ant-pagination-item:hover {
//   background-color: transparent;
//   border-color: #ffffff99;
// }

// .ant-pagination-item:focus {
//   background-color: transparent;
//   border-color: #ffffff99;
// }

// .ant-select-selector {
//   background-color: #00b162 !important;
//   border-color: #00b162 !important;
//   color: white;
// }

// .ant-pagination-item-active {
//   background-color: transparent!important;
//   border-color: #ffffff99!important;
// }

// .ant-pagination-item a {
//   color: #aaaaaa;
// }

// .ant-pagination-item a:hover {
//   color: white;
// }

// .ant-pagination-item-link {
//   background-color: #00b162 !important;
//   border-color: #00b162 !important;
// }

// .ant-pagination-item-link .anticon {
//   color: white;
// }

// .ant-pagination-item-active a {
//   color: white;
// }

// .ant-table-column-sort {
//   background: unset!important;
// }

// .ant-table-tbody > tr.ant-table-row-selected > td {
//   background: unset!important;
// }

// .ant-checkbox-inner {
//   background-color: unset!important;
// }

// .ant-btn-primary {
//   background-color: #00b162;
//   border-color:  #00b162;
// }

// .ant-btn-primary:hover {
//   background-color: #009E79;
//   border-color:  #009E79;
// }

// .ant-btn-primary:focus {
//   background-color: #008984;
//   border-color:  #008984;
// }

a {
  color: #1890ff;
  font-weight: 600;
}

a:hover {
  color: #1890ff;
}

.ant-progress-text {
  color: #1890ff;
}

.ant-tabs {
  color: #1890ff;
}

.ant-tabs-tab {
  margin-left: 50px!important;
}

.ant-tabs-tab:first-child {
  margin-left: 0px!important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff;
}

.ant-tabs-tab .ant-tabs-tab-btn {
  color: #1890ff;
  margin-bottom: -10px;
  font-weight: 800;
  font-size: 13pt;
}

.ant-tabs-tab:hover {
  color: #1890ff;
}

.ant-tabs-tab .ant-tabs-tab-btn:focus {
  color: #1890ff;
}

.ant-tabs-ink-bar {
  background: #1890ff;
}

// .ant-table-column-sorter-full>.ant-table-column-sorter-inner {
//   color: #d6b89b;
//   .active{
//   color: #57423F;
//   }
// }